<!DOCTYPE html>
<!-- Declares the root element that allows behaviour to be modified through Angular custom HTML tags. -->
<html ng-app="vacationApp">
<head>
<meta charset="UTF-8">
<title>Vacation webapp</title>
<link rel="icon" href="images/favicon.ico" />
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-resource.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.4/toaster.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/bower-angular-translate/2.0.1/angular-translate.min.js"></script>

<!-- internal lib -->
<script src="dist/moment.js"></script>
<script src="dist/calendar.js"></script>
<script src="dist/fullcalendar.js"></script>
<script src="dist/gcal.js"></script>

<script src="script/app.js"></script>
<script src="script/i18n/i18n.js"></script>
<script src="script/common/dialog/controller.js"></script>
<script src="script/filters/filters.js"></script>
<script src="script/interceptors/interceptors.js"></script>
<script src="script/navigation/controller.js"></script>
<script src="script/vacation/service.js"></script>
<script src="script/vacation/controller.js"></script>
<script src="script/calendar/controller.js"></script>
<script src="script/vacation-type/service.js"></script>
<script src="script/vacation-type/controller.js"></script>

<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="http://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.4/toaster.css" />
<link rel="stylesheet" type="text/css" href="dist/fullcalendar.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>

	<nav class="navbar navbar-inverse" role="navigation"
		ng-controller="navigationCtrl">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

				<button type="button" class="navbar-toggle"
					ng-init="navCollapsed = true"
					ng-click="navCollapsed = !navCollapsed">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Home</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

				<ul class="nav navbar-nav">
					<li><a href="#/list">Vacations</a></li>
					<li><a href="#/vacation/calendar">Calendar</a></li>
					<li><a href="#/vacationTypes/list">Configuration</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form action="j_spring_security_logout" method="post">
							<button class="btn btn-default navbar-btn">Logout</button>
						</form>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>

	<toaster-container
		toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

	<div class="container">

		<div ng-view></div>
	</div>
</body>
</html>
