<!DOCTYPE html>
<!-- Declares the root element that allows behaviour to be modified through Angular custom HTML tags. -->
<html ng-app="vacations">
<head>
<title></title>
<script src="lib/angular.min.js"></script>
<script src="lib/jquery-1.9.1.js"></script>
<script src="lib/ui-bootstrap-0.10.0.min.js"></script>
<script src="lib/ng-grid.min.js"></script>

<script src="script/app.js"></script>

<link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="lib/ng-grid.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body ng-controller="AuthenticationCtrl">
	<div class="page-header">
		<h2>Login</h2>
	</div>

	<div class="row">

		<div class="col-md-10">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="username" class="col-sm-4 control-label">User
						Name:</label>
					<div class="col-sm-8">
						<input id="username" ng-model="username" type="text"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-4 control-label">Password:</label>
					<div class="col-sm-8">
						<input id="password" ng-model="password" type="password"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-8 col-sm-offset-3">
						<input type="submit" value="Log In" class="btn btn-primary"
							ng-click="login()" />
					</div>
				</div>
			</form>
		</div>



	</div>

	<div class="alert alert-warning text-center" ng-show="authenticationFailed">{{notification}}</div>


</body>
</html>
