<div class="col-md-12 box">
	<fieldset>
		<legend>Modify vacation</legend>
		<form name="updateVacationForm" class="form-horizontal">
			<div class="form-group">
				<label class="col-md-4 control-label" for="from">From:</label>
				<div class="col-md-2">
					<div class="input-group">
						<input type="text" class="form-control"
							datepicker-popup="{{dateFormat}}" ng-model="from"
							is-open="fromDatePickerOpened" min-date="minDate"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" show-button-bar="false" />
						<span class="input-group-btn" required>
							<button type="button" class="btn btn-default"
								ng-click="openFromDatePicker($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
				<div class="col-md-3">
					<label class="radio-inline"> <input type="radio"
						name="fromTime" id="fromMorning" ng-model="fromMorning" ng-value="true">
						Morning
					</label> <label class="radio-inline"> <input type="radio"
						name="fromTime" id="notFromMorning" ng-model="fromMorning" ng-value="false">
						Afternoon
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 control-label" for="to">To:</label>
				<div class="col-md-2">
					<div class="input-group">
						<input type="text" class="form-control"
							datepicker-popup="{{dateFormat}}" ng-model="to"
							is-open="toDatePickerOpened" min-date="from"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" show-button-bar="false" />
						<span class="input-group-btn" required>
							<button type="button" class="btn btn-default"
								ng-click="openToDatePicker($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
				<div class="col-md-3">
					<label class="radio-inline"> <input type="radio"
						name="toTime" id="toMorning" ng-model="toMorning" ng-value="true">
						Midday
					</label> <label class="radio-inline"> <input type="radio"
						name="toTime" id="toMorning" ng-model="toMorning" ng-value="false">
						Evening
					</label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-5 control-label" for="type">Type:</label>
				<div class="col-md-2">
					<select id="type" name="type" class="form-control"
						ng-model="typeId"
						ng-options="vacationType.id as vacationType.type for vacationType in vacationTypes"
						required>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<input type="submit" value="Save" class="btn btn-primary"
					ng-click="update()" ng-disabled="updateVacationForm.$invalid" /> <input
					type="submit" value="Cancel" class="btn btn-default"
					ng-click="cancel()" />
			</div>
		</form>
	</fieldset>
</div>
