<div class="page-header">
	<h3>Create vacation type</h3>
</div>

<div>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="name" class="col-lg-4 control-label">Name:</label>
			<div class="col-lg-3">
				<input id="name" ng-model="name" type="text" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="to" class="col-lg-4 control-label">Begin:</label>
			<div class="col-lg-3 input-group">
				<input type="text" class="form-control"
					datepicker-popup="{{dateFormat}}" ng-model="to"
					is-open="beginDatePickerOpened" datepicker-options="dateOptions"
					date-disabled="disabled(date, mode)" show-button-bar="false" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="openBeginDatePicker($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="to" class="col-lg-4 control-label">End:</label>
			<p class="col-lg-3 input-group">
				<input type="text" class="form-control"
					datepicker-popup="{{dateFormat}}" ng-model="to"
					is-open="endDatePickerOpened" datepicker-options="dateOptions"
					date-disabled="disabled(date, mode)" show-button-bar="false" /> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="openEndDatePicker($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
		<div class="form-group">
			<label for="from" class="col-lg-4 control-label">Number of
				days:</label>
			<div class="col-lg-3">
				<input id="numberOfDays" ng-model="numberOfDays" type="number"
					min="1" max="366" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-3 col-lg-offset-4">
				<input type="submit" value="Create" class="btn btn-primary"
					ng-click="save()" /> <input type="submit" value="Cancel"
					class="btn btn-default" ng-click="cancel()" />
			</div>
		</div>
	</form>
</div>