<div>
	<div class="col-md-9">
		<fieldset>
			<legend class="text-center">Vacation types</legend>
			<!-- Specify a JavaScript controller script that binds Javascript variables to the HTML.-->
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th ng-click="sortBy('type')"><span
							class="sortableTableHeader">Type&nbsp;<span
								class="{{'type' |
                                sortIconFilter:sortOptions }}"></span></span></th>
						<th ng-click="sortBy('beginDate')"><span
							class="sortableTableHeader">Begin&nbsp;<span
								class="{{'beginDate' |
                                sortIconFilter:sortOptions }}"></span></span></th>
						<th ng-click="sortBy('endDate')"><span
							class="sortableTableHeader">End&nbsp;<span
								class="{{'endDate' |
                                sortIconFilter:sortOptions }}"></span></span></th>
						<th ng-click="sortBy('numberOfDays')"><span
							class="sortableTableHeader">Number of days&nbsp;<span
								class="{{'numberOfDays'
                                | sortIconFilter:sortOptions }}"></span></span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in vacationTypes">
						<td>{{model.type}}</td>
						<td>{{model.beginDate | date}}</td>
						<td>{{model.endDate | date}}</td>
						<td>{{model.numberOfDays}}</td>
						<td class="col-xs-1"><button type="button" class="btn btn-default btn-xs">
								<span ng-click="goToUpdateVacationType(model.id)" class="glyphicon glyphicon-pencil"></span>
							</button>
							<button type="button" class="btn btn-default btn-xs">
                                <span ng-click="deleteVacationType(model.id)" class="glyphicon glyphicon-trash"></span>
                            </button></td>
					</tr>
				</tbody>
			</table>
			<div class="text-center">
				<button class="btn btn-primary" ng-click="goToCreateVacationType()">Create
					new type</button>
			</div>
		</fieldset>
	</div>
	<div class="col-md-3">
		<fieldset>
			<legend>Balances</legend>
			<div ng-repeat="numberOfVacation in numberOfVacations">
				{{numberOfVacation.vacationTypeName}}:
				<progressbar class="progress active" value="numberOfVacation.count"
					max="numberOfVacation.max"> <span
					style="color: black; white-space: nowrap;">{{numberOfVacation.count}}
					/ {{numberOfVacation.max}}</span></progressbar>
			</div>
		</fieldset>
	</div>
</div>