<div>
	<div class="col-md-9">
		<fieldset>
			<legend class="text-center">Calendar</legend>
			<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
		</fieldset>
	</div>
	<div class="col-md-3">
		<fieldset>
			<legend>Balances</legend>
			<div ng-repeat="numberOfVacation in numberOfVacations">
				{{numberOfVacation.vacationTypeName}}:
				<progressbar class="progress active" value="numberOfVacation.count"
					max="numberOfVacation.max"> <span
					style="color: black; white-space: nowrap;">{{numberOfVacation.count}}
					/ {{numberOfVacation.max}}</span></progressbar>
			</div>
		</fieldset>
	</div>
</div>
