<div>
	<fieldset>
		<legend class="text-center">Vacation types</legend>
		<!-- Specify a JavaScript controller script that binds Javascript variables to the HTML.-->
		<div class="container">
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th ng-click="sortBy('type')">Type<span>{{'type' |
								sortIconFilter:sortOptions }}</span></th>
						<th ng-click="sortBy('begin')">Begin<span>{{'begin' |
								sortIconFilter:sortOptions }}</span></th>
						<th ng-click="sortBy('end')">End<span>{{'end' |
								sortIconFilter:sortOptions }}</span></th>
						<th ng-click="sortBy('numberOfDays')">Number of days<span>{{'numberOfDays'
								| sortIconFilter:sortOptions }}</span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in vacationTypes">
						<td>{{model.type}}</td>
						<td>{{model.beginDay}}&nbsp;/&nbsp;{{model.beginMonth}}</td>
						<td>{{model.endDay}}&nbsp;/&nbsp;{{model.endMonth}}</td>
						<td>{{model.numberOfDays}}</td>
					</tr>
				</tbody>
			</table>
			<div class="text-center">
				<button class="btn btn-primary" ng-click="goToCreateVacationType()">Create
					new type</button>
			</div>
		</div>
	</fieldset>
</div>