<div>
	<div class="col-md-9">
		<fieldset>
			<legend class="text-center">Vacations confirmed</legend>
			<div>
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th ng-click="sortBy('type')">Type&nbsp;<span class="{{'type' |
                                    sortIconFilter:sortOptions }}"></span></th>
							<th ng-click="sortBy('from')">From&nbsp;<span class="{{'from' |
									sortIconFilter:sortOptions }}"></span></th>
							<th ng-click="sortBy('to')">To&nbsp;<span class="{{'to' |
                                    sortIconFilter:sortOptions }}"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="model in modelList">
							<td>{{model.type.type}}</td>
							<td>{{model.from | date}}</td>
							<td>{{model.to | date}}</td>
						</tr>
					</tbody>
				</table>

				<!--  Bind the pagination component to be displayed. -->
				<div class="text-center">
					<pagination direction-links="true" boundary-links="true"
						total-items="nbResults" ng-model="pagingOptions.currentPage"
						items-per-page="pagingOptions.pageSize" ng-change="refresh()">
					</pagination>
				</div>
			</div>
			<div class="text-center col-md-12">
				<button class="btn btn-primary" ng-click="goToCreateVacation()">Create
					new vacation</button>
			</div>
		</fieldset>
	</div>
	<div class="col-md-3">
		<fieldset>
			<legend>Balances</legend>
			<div ng-repeat="numberOfVacation in numberOfVacations">
				{{numberOfVacation.vacationTypeName}}:
				<progressbar class="progress active" value="numberOfVacation.count"
					max="numberOfVacation.max"> <span
					style="color: black; white-space: nowrap;">{{numberOfVacation.count}}
					/ {{numberOfVacation.max}}</span></progressbar>
			</div>
		</fieldset>
	</div>
</div>