<div>
	<fieldset>
		<legend class="text-center">Modify vacation type {{oldTypeName}}</legend>
		<form name="updateVacationTypeForm" class="form-horizontal">
			<div class="form-group">
				<label class="col-md-5 control-label" for="name">Name:</label>
				<div class="col-md-3 has-feedback" ng-class="{'has-error': updateVacationTypeForm.typeName.$invalid && updateVacationTypeForm.typeName.$dirty}" >
					<!-- use $parent because popover create a child scope  -->
					<input id="name" name="typeName" ng-model="$parent.typeName" type="text"
						class="form-control" required
						popover="Enter a name for the vacation type."
						popover-placement="right" popover-trigger="focus">
						<span class="glyphicon glyphicon-ban-circle form-control-feedback" ng-show="updateVacationTypeForm.typeName.$error.required && updateVacationTypeForm.typeName.$dirty"></span>
				</div>
			</div>

			<!-- Begin-->
			<div class="form-group">
				<label class="col-md-5 control-label" for="begin">Begin:</label>
				<div class="col-md-3">
					<div class="input-group">
						<input id="beginDate" name="beginDate" class="form-control"
							type="text" datepicker-popup="{{dateFormat}}"
							ng-model="beginDate" is-open="beginDatePickerOpened"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" show-button-bar="false"
							required /> <span class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openBeginDatePicker($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<!-- End -->
			<div class="form-group">
				<label class="col-md-5 control-label" for="end">End:</label>
				<div class="col-md-3">
					<div class="input-group">
						<input id="endDate" name="endDate" class="form-control"
							type="text" datepicker-popup="{{dateFormat}}" ng-model="endDate"
							is-open="endDatePickerOpened" datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" show-button-bar="false"
							required /> <span class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openEndDatePicker($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-5 control-label" for="numberOfDays">Number
					of days:</label>
				<div class="col-md-3 has-feedback" ng-class="{'has-error': updateVacationTypeForm.numberOfDays.$invalid && updateVacationTypeForm.numberOfDays.$dirty}">
					<!-- use $parent because popover create a child scope -->
					<input id="numberOfDays" name="numberOfDays" ng-model="$parent.numberOfDays"
						type="number" class="form-control input-md" min="1" max="366"
						required popover="Enter the number of days for the vacation type."
						popover-placement="right" popover-trigger="focus">
					<span class="glyphicon glyphicon-ban-circle form-control-feedback" ng-show="updateVacationTypeForm.numberOfDays.$invalid && updateVacationTypeForm.numberOfDays.$dirty"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="text-center">
					<button id="update" name="save" class="btn btn-primary"
						ng-click="update()" ng-disabled="updateVacationTypeForm.$invalid">Save</button>
					<button id="cancel" name="cancel" class="btn btn-default"
						ng-click="cancel()">Cancel</button>
				</div>
			</div>
		</form>
	</fieldset>
</div>